<nav class="navbar navbar-expand-lg navbar-dark primary-color">
    <a class="navbar-brand" href="#">Rohan</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        
        <li class="nav-item">
          <a class="nav-link" href="#">Study material</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Treavel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Form</a>
        </li>
        
      </ul>
     
        <ul class="navbar-nav ml-auto">
          <div class="example-flex-container">
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"  onClick="window.open('https://www.instagram.com/engineer_rs/')">
              <mat-icon>person</mat-icon> </button>
             <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" onClick="window.open('https://github.com/rroohan/blog')" >
            <mat-icon>code</mat-icon> </button>
           
            
            </div>
        </ul>
        
    </div>
  </nav>