<h3>About me</h3>
<h1>LEARN MORE ABOUT ME</h1>
<div class="m1">
    <div class="myitem">
        
        <img src="/assets/r1.jpg" alt="image">
   
    </div>
    <div class="myitem">
        <div class="m2">
        <h2>WEB DEVELOPER</h2>
        <P>t is a long established fact that a reader
             will be distracted by the readable content 
             It is a long established fact that a reader
              will be distracted by the readable content 
              of a page when looking at its layout.
               The point of using Lorem Ipsum is that 
               it has a more-or-less normal distribution of letters,
            still in their infancy. Various versions have
                   evolved over the years, sometimes by accident,
                    sometimes on purpose (injected humour and the like).
                   
        </P>
        <ul type = "square">
            <li>Website: saurabhgupta.netlify.app</li>
            <li>Phone: +91-7X7X5X7X2X</li>
            <li>Email: saugupta@yahoo.com</li>
            <li>Location: Hyderabad, India</li>
         </ul>
    </div>
    </div>
    
    </div>
    <h1>SKILLS</h1>
    <h2>HTML  <progress max="100" value="80"></progress></h2>
    <h2>HTML  <progress max="100" value="80"></progress></h2>
    <h2>HTML  <progress max="100" value="80"></progress></h2>
    <h2>HTML  <progress max="100" value="80"></progress></h2>
    <h2>HTML  <progress max="100" value="80"></progress></h2>
    <h2>HTML  <progress max="100" value="80"></progress></h2>
    